.wp-table tr:nth-child(odd) {
    background-color: #fff;
    text-align: center;
}

.wp-table tr:nth-child(even) {
    background-color: #f1f1f1;
    text-align: center;
}

.wp-table tr {
    border-bottom: 1px solid #ddd;
}

.wp-table th:first-child, 
.wp-table td:first-child {
    padding-left: 16px;
}


.wp-table td, 
.wp-table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.wp-table th {
    font-weight: bold;
}
 
.wp-table {
    font-size: 13px!important;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.inputError{
    border: 1px solid #d9534f;
    border-radius: 5px;
}
.inputError:focus{
    border: 1px solid #d9534f;
}