.veiw-query-container {
  border-radius: 10px;
  overflow: hidden;
}
.message-query-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  height: 65px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
  overflow-x:auto;
}
.message-query-list::-webkit-scrollbar{
  display: none;
}
.query-veiw-haed {
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: 0 8px 6px -6px #f1f1f1;
  background-color: #fff;
}
.time-and-date {
  display: flex;
  /* flex-direction: column; */
  gap: 4px;
  justify-content: space-between;
  font-size: 12px;
  text-align: end;
}
.side-bar-list {
  height: -webkit-calc(100% - (65px));
  margin-top: 65px;
}
.message-query-list:hover {
  padding-right: 14px;
}
.active-message {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: #f1f1f1;
}
.back-arrow-btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.message-body-container {
  width: 100%;
  height: calc(100%-65px);
  position: relative;
  overflow: hidden;
}
.blank-message-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.view-query-body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 4rem;
  /* display: grid; */
  background-color: none;
}

.view-query-message-container {
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
}
.view-query-reply-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  border-radius: 5px;
}
.uw-compose-screen{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
  background-color: #fff;
}
.hide-composeScreen{
  top:-100%;
  z-index: -999;
  opacity: 0;
}
.show-composeScreen{
  top:0%;
  opacity: 1;
  z-index: 999;
}
.uw-compose-screen:hover {
  top: 0%;
}
.hide-content {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  position: absolute;
  right: -100%;
  opacity: 0;
}
.show-content {
  right: 0%;
  opacity: 1;
}
#compose-container {
  z-index: 1;
}
.editor-main-container {
  width: 100%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.rdw-editor-main {
  min-height: 200px !important;
  padding: 0px 10px;
}
.rdw-editor-wrapper {
  display: flex !important;
  flex-direction: column-reverse !important;
  row-gap: 1rem;
}
.editor-header {
  height: 50px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  font-weight: 500;
}
.minimizeEditor {
  top: 92%;
  transition: all 5s;
}
.icon-message {
  margin: 0px 10px;
  cursor: pointer;
}
.btn-reply-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}
.reply-button{
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
.reply-button:hover{
  background-color: #fff;
}
.composeHide{
  display: none;
}