@import url("https://fonts.googleapis.com/css?family=Lato");
.timeline-card-container{
height: 85vh !important;
overflow: scroll;
scroll-margin-bottom: 100px;
}
.timeline-header{
  background-color: #FFFFFF;
  position: sticky !important;
  top: 0px;
  z-index: 9999;
  text-align: center;
  transform: perspective(800px);
}
.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timeline-container::after {
  background-color: #53BDC0;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.merchant {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 70%;
  text-align: right;
}

.timeline-item-content::after {
  content: "";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.merchant .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.merchant .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}



.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #53BDC0;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}
.queury-list{
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: smaller;
}
.query-count{
  width: 40%;
  text-align: center;
  display: flex ;
  align-items: baseline;
}
.query-application-name{
width: 40%;
text-align: start;
}
.merchant .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .merchant .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }
}
