.Verify_Main {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-area input {
  border: 2px solid #66c4c6;
  border-radius: 8px;
  width: 50px !important;
  height: 50px !important;
  color: #000;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 2rem;
  background-color: #f5f9f9;
}
input:focus {
  outline: none;
}
.Icon:hover {
  color: red;
}

#resetPassword input {
  width: 43px !important;
  height: 42px !important;
  border: 1px solid #66c4c6;
  border-radius: 5px;
}

.loginVerification {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginVerification input {
  width: 32px !important;
  height: 42px !important;
  border: 1px solid #66c4c6;
  border-radius: 5px;
  margin-left: 15px;
}
.mobileRegistraton input {
  width: 46px !important;
  height: 42px !important;
  border: 1px solid #66c4c6;
  border-radius: 5px;
  margin-left: 3px;
}

.OTPInput input {
  width: 50px !important;
  height: 60px !important;
  font-size: 20px;
  color: #000;
  border: 1px solid #66c4c6;
  border-radius: 5px;
  margin-left: 15px;
}
#mobile-verify {
  min-width: 600px;
}

.OTPModel {
  position: absolute;
  z-index: 1;
  transition: all 2s;
  overflow: auto;
  overflow-x: scroll;
  width: 100vw;
  display: grid;
  place-items: center;
}

.verify-content {
  display: flex;
  transition: all 1s;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 20px 40px;
  width: max-content;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.show-content {
  height: auto;
  opacity: 1;
  transition: opacity 2s;
  z-index: 999;
  /* height: auto; */
}

.hide-content {
  opacity: 0;
  transition: opacity z-indx 1s 3s;
  z-index: -999;
}

